html,
body {
  margin: 0px;
  height: 100%;
  min-height: 100%;
  overflow: auto;
  background-size: contain; 
}

* {
  cursor: url(./images/Eye_cursor_2.png), default;
}

.poemlink:hover {
  cursor: url(./images/Eye_cursor_hover_2.png), default;
}

.box {
  height:max-content;
  /*background-repeat:repeat;*/
  background-size: cover;
}

h1 { margin-top: 0; }

.title {
  color: rgb(68, 67, 67);
  font-family:serif;
  font-size:350%;
  font-weight:lighter;
  text-align: center;
}



.fixed {

  position: fixed;
  text-align: center;

}

img{
  object-fit: contain;
  }



.poemcontainer {
  margin: auto;
  width: 50%;
  text-align: center;
}

@media screen and (max-width: 12000px) {

  .poemtext {
    font-family: Garamond, Georgia, 'Times New Roman', Times, serif;
    font-style: italic;
    font-size: clamp(1rem, 3vw, 1.5rem);
    color: rgba(0, 0, 0, 1);
  }

  .poemlink {
    font-size:2vw;
    color: rgba(0, 0, 0, 1);
    font-family:serif;
    font-weight:lighter;
    text-align: center;
    /*padding: 5% 0;*/
  }

}

@media screen and (max-width: 1300px) {

  .poemtext {
    font-family: Garamond, Georgia, 'Times New Roman', Times, serif;
    font-style:normal;
    font-size: clamp(1rem, 3vw, 1.5rem);
    color: rgba(0, 0, 0, 1);
  }

  .poemlink {
    font-size: 2vw;
    color: rgba(0, 0, 0, 1);
    font-family:serif;
    font-weight:lighter;
    text-align: center;
    /*padding: 5% 0;*/
  }

}


@media screen and (max-width: 800px) {

  .poemtext {
    font-family: Garamond, Georgia, 'Times New Roman', Times, serif;
    font-style: italic;
    font-size: clamp(1rem, 3vw, 1.5rem);
    color: rgba(0, 0, 0, 1);
  }

  .poemlink {
    font-size: 200px;
    color: rgba(0, 0, 0, 1);
    font-family:serif;
    font-weight:lighter;
    text-align: center;
    /*padding: 5% 0;*/
  }

}



