html,
body {
  margin: 0px;
  height: 100%;
  min-height: 100%;
  overflow: auto; 
}

* {
  cursor: url(./images/FishCursor.png), default;
}

.poemlink {
  margin: auto;
  width: 50%;
  text-align: center;
}

.poemlink:hover {
  cursor: url(./images/FishCursor_Hover.png), default;
}

.box {
  height:100vh;
}

h1 { margin-top: 0; }

.title {
  color: rgb(68, 67, 67);
  font-family:serif;
  font-size:xx-large;
  font-weight:lighter;
  text-align: center;
}

.fixed {
  position: fixed;
}

.poemtext {
  font-family: Garamond, Georgia, 'Times New Roman', Times, serif;
  font-style: italic;
  font-size: x-large;
}

.poemcontainer {
  margin: auto;
  width: 50%;
  text-align: center;
}
