html,
body {
  margin: 0px;
  height: 100%;
  min-height: 100%;
  overflow: auto;
  background-size: contain; 
}

* {
  cursor: url(./images/Eye_cursor_2.png), default;
}

.poemlink:hover {
  cursor: url(./images/Eye_cursor_hover_2.png), default;
}

.box {
  height:100vh;
}

h1 { margin-top: 0; }

.title {
  color: rgb(68, 67, 67);
  font-family:serif;
  font-size:350%;
  font-weight:lighter;
  text-align: center;
}



.fixed {

  position: fixed;
  text-align: center;

}

img{
  object-fit: contain;
  }



.poemcontainer {
  margin: auto;
  width: 50%;
  text-align: center;
}

@media screen and (max-width: 12000px) {

  .poemtext {
    font-family: Garamond, Georgia, 'Times New Roman', Times, serif;
    font-style: italic;
    font-size:xx-large;
    color: rgba(167, 3, 137, 0.865);
  }

  .poemlink {
    color: rgb(68, 67, 67);
    font-family:serif;
    font-size:25px;
    font-weight:lighter;
    text-align: center;
    /*padding: 5% 0;*/
  }

}

@media screen and (max-width: 1300px) {

  .poemtext {
    font-family: Garamond, Georgia, 'Times New Roman', Times, serif;
    font-style:italic;
    font-size:xx-large;
    color: rgba(55, 22, 203, 0.9);
  }

  .poemlink {
    color: rgb(68, 67, 67);
    font-family:serif;
    font-size: 100px;/*150%;*/
    font-weight:lighter;
    text-align: center;
    /*padding: 5% 0;*/
  }

}


@media screen and (max-width: 800px) {

  .poemtext {
    font-family: Garamond, Georgia, 'Times New Roman', Times, serif;
    font-style: italic;
    font-size:xx-large;
    color: rgba(11, 193, 36, 0.804);
  }

  .poemlink {
    color: rgb(68, 67, 67);
    font-family:serif;
    font-size:200px; /*150%;*/
    font-weight:lighter;
    text-align: center;
    /*padding: 5% 0;*/
  }

}



